.App {
  text-align: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

#mainBody {
  margin: 2rem 5rem 2rem 5rem;
  padding: 1rem;
  max-width: 90%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  letter-spacing: 1px;
  min-height: 1800px;
}
