body {
  margin: 0;
  font-family: "Poppins",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
      90deg,
      #5ae3ff -1.53%,
      #a7ff7b 28.91%,
      #fffd62 64.18%,
      #ff6ae6 100%
    ),
    #5ae3ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
